@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html, body {
  height:100%;
  width:100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header{
  position:sticky;
  top: 0;
  background: white;
  height: 86px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.left img{
    width: 32px;
    height: 23px;
  }

nav{
    font-family: 'Roboto',sans-serif;
    position:fixed;
    font-size: 12px;
}
nav ul{
    list-style-type: none;
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1.2;
    justify-content: center;
    height:65px;
    width:100%;
    background-color: white;
    font-weight:900;
    color:black;
}

nav ul li{
    padding: 10px;
    margin: 10px;
}

.search{
      width: 20vw;
      display: flex;
      align-items: center;
      padding: 7px 17px;
      justify-items: center;
      border: 0.5px solid grey;
      background: #f7f8fd;
      border-radius: 8px;
}

.container{ 
    padding: 0 10vw; 
}

.container1{ 
    padding: 0 10vw; 
    display: flex;
    flex-wrap: wrap;
}

.section1{
    background: #f2f2f0; 
}

.homeImg{
    width: 80vw;
    margin: 12px 0;
}
  
.itemImg{
    width: 10vw;
    margin: 6px 12px;
}
  
footer{
    padding: 23px;
    text-align: center;
    background-color: coral;
    font-family: 'Roboto',sans-serif;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

@media (max-width: 515px) { 
    .search {
        width: 34vw; 
        margin-bottom: 45px;
    }

    nav ul{
        width:50%;
        margin-bottom: 60px;
    }

    nav{
        display:flex;
        flex-direction:row;
        align-items: center;
      }
}
    
@media (max-width: 1500px) { 
    
      nav{
        display:flex;
        flex-direction:row;
        align-items: center;
      }
    
      .right{ 
        display:flex;
        flex-direction: column;
      }
    
      .rightBox{
        display: flex;
      }
}


